* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    background-color: black;
    overflow: hidden;
}

li a {
    padding: 20px;
    display: block;
    color: white;
}


li {
    float: right;
}

li a:hover {
    background-color: rgb(212, 35, 35);
}

.active {
    color: rgb(253, 0, 228);
}

.log-containner {
    list-style-type: none;
    color: white;
}