* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Montserrat;
}

html,
body {
    width: 100%;
    height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    align-items: center;
}

.logo {
    font-size: 3.8rem;
    margin-left: 2rem;
}

ul {
    display: flex;
}

ul li a {
    color: #000;
    margin: 0 4rem:
}

ul li a:hover {
    color: white;
    background-color: #555;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    transition: all .2s ease 0s;
}

.log-container {
    justify-self: center;
}

.log-container a {
    margin-left: 2rem;
    background: #a3203a;
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: white;
}

.circle {
    width: 100%;
    height: 100%;
    background: linear-gradient(#a3203a, #222);
    clip-path: circle(600px at laft 750px);
    position: absolute;
    left: 0;
    bottom: 0;
    filter: opacity(0.7);
}

/* 
section {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr auto;
}

.vector_container img {
    position: absolute;
    width: 550px;
    margin-top: 200px;
    height: 450px;
    left: 0;
}


  Fade animation setup for vect

.vector_container img:nth-child(1) {
    animation: fade1 15s infinite;
}

.vector_container img:nth-child(2) {
    animation: fade2 15s infinite;
}

.vector_container img:nth-child(3) {
    animation: fade3 15s infinite;
}

.vector_container img:nth-child(4) {
    animation: fade4 15s infinite;
}

section .content {
    width: 400px;
    color: black;
    position: relative;
    top: 15rem;
    right: 10rem;
    text-align: center;
}

section .content h1 {
    font-size: 3rem;
}

section .content p {
    font-size: 0.75rem;
    font-style: italic;
    margin-bottom: 1rem;
}

section .content a {
    color: white;
    background-color: #a3203a;
    padding: 10px;
}

section img {
    width: 500px;
    height: 400px;
    position: absolute;
    right: 0;
    margin-top: 22rem;
}

 This applied fade animation to the cector arts
@keyframes fade1 {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade1 {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade3 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade4 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
} */